@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Questrial&family=Rajdhani:wght@500;700&display=swap');

@font-face {
  font-family: "Sulphur Point";
  src: url("https://janalumi.github.io/fonts/SulphurPoint-Regular.ttf") format("truetype");
/*  font-weight: normal;
  font-style: normal; */
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alts";
  src: url("https://janalumi.github.io/fonts/MontserratAlternates-Regular.ttf") format("truetype");
/*  font-weight: normal;
  font-style: normal; */
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  max-width: 900px;
  line-height: 1.6;
  margin: auto;
  padding: 20px;
  background: #71ACBC;
  background: linear-gradient(182deg,rgba(113, 172, 188, 1) 14%, rgba(146, 196, 60, 1) 59%, rgba(251, 200, 119, 1) 100%);
  color: #eee;
}

header, footer {
  text-align: center;
  margin-bottom: 2rem;
}

#description {
  font-family: "Mulish", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 1rem;
}

h1 {
  font-family: "Montserrat Alts", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1.4em;
}

h2 {
  font-family: "Sulphur Point", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  margin-top: 1.2em;
  margin-bottom: 1em;
  letter-spacing: 2px;
}

h3 {
  font-family: "Sulphur Point", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 0 1rem; /* or adjust to taste */
  box-sizing: border-box;
}

.project-card {
  text-align: center;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.project-card p {
  color: #888;
  font-size: 1.2em;
  letter-spacing: 1.6px;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  max-width: 100%;
  border-radius: 6px;
}

.project-card h3 {
  font-weight: 800;
  font-size: 1.5em;
  margin-top: 0.5rem;
  color: #666;
  letter-spacing: 1.8px;
}

.project-card a {
  display: inline-block;
  margin-top: 0.5rem;
  color: #007acc;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}

@media (max-width: 400px) and (orientation: portrait) {
  html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  body {
     width: 100%;
  }

  .project-list {
     gap: 2.2rem;
  }
}
